body {
    max-width: 500px;
    width: 100%;
    font-family: sans-serif;
    background: rgb(215,215,225);
    margin: 0 auto;
    padding-bottom: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
    align-content: center;
    background: linear-gradient(165deg, rgb(50, 50, 20, 0.9), rgb(25, 25, 75, 0.8)), url("https://wallpapercat.com/w/full/1/a/f/1381070-3840x2160-desktop-4k-film-wallpaper-image.jpg");
    background-size: cover;
    height: 25vh;
    padding-bottom: 1em;
    box-shadow: 0 2px 7px rgb(0,0,0,0.5)
}

.watch-header {
    background: linear-gradient(165deg, rgb(50, 50, 20, 0.9), rgb(25, 25, 75, 0.85)), url("https://wallpapers.com/images/hd/movie-poster-background-q1zm830g0hfww2lk.jpg");
    background-size: cover;
    padding-bottom: 0;
    margin-bottom: .75em;
    box-shadow: 0 2px 7px rgb(0,0,0,0.5)
}

.heading {
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.15rem;
    font-weight: normal;
    text-shadow: 0 0 7px black;
    color: rgb(255,255,255, .7);
}

.watchlist-link {
    align-self: center;
    text-decoration: underline rgb(125,125,150, 0.75);
    text-decoration-thickness: 1.5px;
    text-shadow: 0 0 7px black;
    font-family: 'Times New Roman', Times, serif;
    margin-top: .5em;
    font-size: 1.15rem;
    color: rgb(255,255,255, .8);
}

.watchlist-link:visited {
    color: rgb(255,255,255, .8);
}

.watchlist-link:hover {
    text-shadow: 0 0 7px rgb(255,255,240, 0.5);
    transition: .2s;
}

input {
    background: linear-gradient(180deg, rgb(255,255,255,0.6), rgb(255,255,255,0.6)), url("https://img.icons8.com/ios7/600/search.png") no-repeat left/1.35em;
    background-color: rgb(255,255,255);
    background-position: 2% 45%;
    padding-left: 2.1em;
    border: 1px solid rgb(150,150,150);
    border-radius: 17px 0 0 17px;
    line-height: 1.75;
    width: 50%;
    font-size: 1rem;
    justify-self: center;
    opacity: 100%;
    box-shadow: 0 0 7px rgb(0,0,0,0.25)
}

input:focus {
    outline: none;
    transition: .1s;
    box-shadow: 0 0 5px rgb(255,255,235,0.75)
}

#search-form {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    height: 2em;
    margin-top: -1em;
}

#button {
    border: 1px solid rgb(150,150,150);
    border-left: none;
    border-radius: 0 17px 17px 0;
    padding-right: .65em;
    background: linear-gradient(
        180deg, 
        rgb(190,190,190), 
        rgb(220, 220, 220)10%,
        rgb(240, 240, 240)50%,
        rgb(220, 220, 220)90%,
        rgb(190,190,190));
    color: rgb(75,75,75);
    box-shadow: 0 0 7px rgb(0,0,0,0.25)
}

#button:hover {
    background: linear-gradient(
        180deg, 
        rgb(200,200,200), 
        rgb(230, 230, 230)10%,
        rgb(250, 250, 250)50%,
        rgb(230, 230, 230)90%,
        rgb(200,200,200));
    color: rgb(100,100,100);
    cursor: pointer;
}

#button:active {
    background: linear-gradient(
        180deg, 
        rgb(210,210,210), 
        rgb(240, 240, 240)10%,
        rgb(255, 255, 255)50%,
        rgb(240, 240, 240)90%,
        rgb(210,210,210));
    color: rgb(125,125,125);
    cursor: pointer;
}

.result-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(220, 220, 220);
    background: rgb(235,235,240);
    padding: 1em;
    
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
}

.movie-description {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}

.result-header {
    display: flex;
    gap: .75em;
}

.movie-poster {
    max-height: 30vh;
    margin-right: 1em;
    max-width: 30vw;
    justify-self: center;
}

.add-to-watchlist {
    border: 1px solid rgb(125,125,125);
    color: white;
    background: linear-gradient(180deg, rgb(150,150,150), rgb(225,225,225));
    font-size: 1.15rem;
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.7);
    margin-right: .15em;
}

.add-to-watchlist:hover {
    background: linear-gradient(180deg, rgb(175,175,175), rgb(235,235,235));
    border: 1px solid rgb(150, 150, 150);
}

.add-to-watchlist:active {
    background: linear-gradient(180deg, rgb(200,200,200), rgb(245,245,245));
    border: 1px solid rgb(175, 175, 175);
}

.added {
    background: linear-gradient(180deg, rgb(225, 177, 24), rgb(255,245,175));
    border: 1px solid rgb(175,125,15);
    box-shadow: 0 1px 2px rgb(75, 50, 0, 0.7);
}

.added:hover {
    background: linear-gradient(180deg, rgb(240, 200, 24), rgb(255,255,185));
    border: 1px solid rgb(200,150,5);
}

.added:active {
    background: linear-gradient(180deg, rgb(250, 225, 24), rgb(255,255,205));
    border: 1px solid rgb(235,185,25);
}

.remove {
    border: 1px solid rgb(125,25,25);
    color: white;
    background: linear-gradient(180deg, rgb(175,50,50), rgb(215,155,155));
    font-size: 1.15rem;
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(50, 0, 0, 0.7);
    margin-right: .15em;
}

.remove:hover {
    background: linear-gradient(180deg, rgb(200,80,80), rgb(230,175,175));
    border: 1px solid rgb(150,35,35);
}

.remove:active {
    background: linear-gradient(180deg, rgb(215,100,100), rgb(240,190,190));
    border: 1px solid rgb(175,50,50);
}

.genres, .year, .runtime, .watchlist-label {
    font-size: .9rem;
}

.star {
   color: rgb(245, 197, 24);
}

.rating-container {
    display: flex;
    gap:.3em;
    margin-right: .5em;
}

.add-container, .watched-container {
    display: flex;
    align-items: center;
    gap: .25em;
    margin-right: .5em;
}

.plot, .runtime {
    color: rgb(120, 120, 120)
}

.title {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

.title:hover {
    color: rgb(100,100,100);
    text-decoration: underline 1px rgb(175,175,175);

}

.year-time {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
}

.watched-container {
    display: flex;
    align-items: center;
    color: rgb(175,175,175)
}

.checkmark {
    font-size: 1.2rem;
    padding: .25em .25em .25em 0;
}

.checkmark:hover {
    color: rgb(215,215,215);
    cursor: pointer;
}

.checkmark:active {
    color: rgb(230,230,230);
}

.mark-as-watched {
    font-size: .85rem;
}

.remove-text {
    font-size: .85rem;
    color: rgb(125,125,125);
}

.watched {
    color: rgb(50,175,100);
    font-size: 1.5rem;
}

.watched:hover {
    color: rgb(125, 215, 170)
}

.empty-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    margin-top: 7vh;
    gap: 1em;
    color: rgb(75,75,75);
}

.empty-link {
    color: rgb(75,75,75);
    text-decoration: underline rgb(175,175,190);
}

.empty-link:visited {
    color: rgb(75,75,75);
}

.empty-link:hover {
    color: rgb(125,125,125);
    text-decoration: underline rgb(200,200,210);
}

.empty-link:active {
    color: rgb(150,150,150);
    text-decoration: underline rgb(215,215,230);
}

#results-section {
    box-shadow: 0 0px 7px rgb(0,0,0,0.5);
}

@media (min-width: 600px) and (max-width: 1000px) {

    .movie-poster {
        max-height: 40vh;
        max-height: 265px;
    }

    body {
        max-width: 95vw;
    }

    header {
        height: 50vh;
        padding: 0 6vw;
        padding-bottom: .75em;
    }

    .watch-header {
        margin-bottom: 1em;
    }

    .watchlist-link {
        margin-top: .4em;
    }
}

@media (min-width: 1001px) {

    html {
    background: rgb(215,215,225)
    }

    body {
        width: 100%;
        max-width: 100%;
    }

    #results-section, #watchlist-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90vw;
        margin: 0 auto;
        box-shadow: none;
    }

    header {
        padding: 0 8vw;
        height: 45vh;
        padding-bottom: .5em;
    }

    .heading {
        font-size: 3rem;
    }

    .watchlist-link {
        font-size: 1.5rem;
        margin-top: .7em;
        margin-right: 4.5em;
    }

    .watch-header {
        margin-bottom: .5em;
    }

    .result-container {
        margin: .5em;
        box-shadow: 0 2px 7px rgb(0,0,0,0.15);
        border-bottom: none;
    }

    input {
        background-position: 1% 45%;
        padding-left: 2.3em;
    }
}
